@using Resources;
@model Microsoft_Teams_Graph_RESTAPIs_Connect.Models.ResultsViewModel


@if (ViewBag.GetChannelsLoad != null)
{
    <h3>@Resource.TeamsGraph_GetChannels_Heading</h3>
}

@using (Ajax.BeginForm("GetChannels", "Home", new AjaxOptions() { OnComplete = "onSuccess", UpdateTargetId = "Result" }))
{

    <div class="col-sm-12">
        <div class="form-group">
            @if (ViewBag.GetChannelsLoad != null)
            {
                <label for="group-id">@Resource.TeamsGraph_Team_Id_Label</label>
                <input name="group-id" type="text" class="form-control" value="@ViewBag.GroupId" @(ViewBag.UserId == null ? "disabled" : null) />
            }
        </div>
        <div class="form-group">
            @if (ViewBag.GetChannelsLoad != null)
            {
                <button class="btn btn-default @(ViewBag.UserId == null ? "disabled" : null)">@Resource.TeamsGraph_GetChannels_Button</button>
                <input type="hidden" name="user-id" value=@ViewBag.UserId />
            }
        </div>
    </div>
}
<div id="Result">

</div>
