@using Resources;
@model Microsoft_Teams_Graph_RESTAPIs_Connect.Models.ResultsViewModel


@if (ViewBag.CreateChannelLoad != null)
{
    <h3>@Resource.TeamsGraph_CreateChannel_Heading</h3>
}
@using (Ajax.BeginForm("CreateChannel", "Home", new AjaxOptions() { UpdateTargetId="Result", OnComplete="onSuccess" }))
{
    <div class="col-sm-12">
        <div class="form-group">
            @if (ViewBag.CreateChannelLoad != null)
            {
                <label for="team-id">@Resource.TeamsGraph_Team_Id_Label</label>
                <input name="team-id" type="text" class="form-control" value="@ViewBag.TeamId" @(ViewBag.UserId == null ? "disabled" : null) />
            }
        </div>
        <div class="form-group">
            @if (ViewBag.CreateChannelLoad != null)
            {
                <label for="channel-name">@Resource.TeamsGraph_CreateChannel_Name_Label</label>
                <input name="channel-name" type="text" class="form-control" value="@ViewBag.ChannelName" @(ViewBag.UserId == null ? "disabled" : null) />
            }
        </div>
        <div class="form-group">
            @if (ViewBag.CreateChannelLoad != null)
            {
                <label for="channel-description">@Resource.TeamsGraph_CreateChannel_Description_Label</label>
                <input name="channel-description" type="text" class="form-control" value="@ViewBag.Channelescription" @(ViewBag.UserId == null ? "disabled" : null) />
            }
        </div>
        <div class="form-group">
            @if (ViewBag.CreateChannelLoad != null)
            {
                <button class="btn btn-default @(ViewBag.UserId == null ? "disabled" : null)">@Resource.TeamsGraph_CreateChannel_Button</button>
                <input type="hidden" name="user-id" value=@ViewBag.UserId />
            }
        </div>
    </div>
}
<div id="Result" class="col-sm-12">
    @*<p class="@(ViewBag.CreateChannelMessage == null ? "hidden" : null)"><h4><b>@Html.Raw(ViewBag.CreateChannelMessage)</b></h4></p>*@
</div>

