<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->
@using Resources
@{
    ViewBag.Title = Resource.App_Name;
}

@model Microsoft_Teams_Graph_RESTAPIs_Connect.Models.FormOutput

<h1>@ViewBag.Title</h1>
<h3>Choose operation:</h3>

@if (!GraphAPI.Web.Controllers.HomeController.hasAppId)
{
    <div style="color: red; font-size: 30pt" >You need to register this application and provide an app secret, see README.md for details.</div>
}

<div class="col-md-offset-1">
    @Html.ActionLink("Get My Teams", "GetMyTeamsLoad", "Home")<br />
    @Html.ActionLink("Get Channels", "GetChannelsLoad", "Home")<br />
    @Html.ActionLink("Create Channel", "CreateChannelLoad", "Home")<br />
    @Html.ActionLink("Post Message", "PostMessageLoad", "Home")<br />

    @Html.ActionLink("Create Team and Group", "GetGroupLoad", "Home")<br />
    @Html.ActionLink("Add Member", "GetMemberLoad", "Home")<br />
    @Html.ActionLink("Add Team to Group", "GetAddTeamToGroupLoad", "Home")<br />
    @Html.ActionLink("Update Team", "GetTeamLoadUpdate", "Home")<br />

    @Html.ActionLink("Get Apps", "GetAppsLoad", "Home")<br />
</div>
<hr />

@using (Ajax.BeginForm("CreateNewTeamAndGroup", "home", new AjaxOptions() { OnSuccess = "success", UpdateTargetId = "Result" }))
{

Html.DropDownListFor(m => m.SelectedTeam, Model.FlavorItems);
}

@*@Html.Partial("_AppList")

@Html.Partial("_Team")
@Html.Partial("_Channels")
@Html.Partial("_CreateChannel")
@Html.Partial("_PostMessage")

@Html.Partial("_Group")
@Html.Partial("_Member")
@Html.Partial("_CreateUpdateTeam")


@Html.Partial("_ResultsPartial")*@

<script>

    function onSuccess(result) {
        $('#Result').html(result);
        $('#Result').show();
    }

</script>