<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->
@using Resources
@using Microsoft_Teams_Graph_RESTAPIs_Connect.Models;
@using Microsoft_Teams_Graph_RESTAPIs_Connect.Views;
@using System.Linq.Expressions;

@model FormOutput

<h1>@Resource.App_Name</h1>
<h3>Choose operation:</h3>

@if (!GraphAPI.Web.Controllers.HomeController.hasAppId)
{
    <div style="color: red; font-size: 30pt">You need to register this application and provide an app secret, see README.md for details.</div>
}

<div class="col-md-offset-1">
    @Html.ActionLink("Get My Teams", "GetTeamsAction", "Home")<br />
    @Html.ActionLink("Get Channels", "GetChannelsForm", "Home")<br />
    @Html.ActionLink("Get Apps", "GetAppsForm", "Home")<br />

    @Html.ActionLink("Create Channel", "PostChannelsForm", "Home")<br />
    @Html.ActionLink("Post Message", "PostMessageForm", "Home")<br />

    @Html.ActionLink("Create Team and Group", "GetGroupLoad", "Home")<br />
    @Html.ActionLink("Add Member", "GetMemberLoad", "Home")<br />
    @Html.ActionLink("Add Team to Group", "GetAddTeamToGroupLoad", "Home")<br />
    @Html.ActionLink("Update Team", "GetTeamLoadUpdate", "Home")<br />

</div>
<hr />



@using (Html.BeginForm(Model.Action, "Home"))
{
    if (Model.ShowTeamOutput)
    {
        @Html.Partial("_ResultsTable", Model.TeamItems)
    }
    if (Model.ShowTeamDropdown)
    {
        @Html.LabelFor(m => m.SelectedTeam)
        @Html.DropDownListFor(m => m.SelectedTeam, Model.TeamItems)
    }

    if (Model.ShowChannelOutput)
    {
        @Html.Partial("_ResultsTable", Model.ChannelItems)
    }
    if (Model.ShowChannelDropdown)
    {
        @Html.LabelFor(m => m.SelectedChannel)
        // @Html.DropDownListFor(m => m.SelectedChannel, Model.ChannelItems)
        @Html.TextBoxFor(m => m.SelectedChannel);
    }

    if (Model.ShowAppOutput)
    {
        @Html.Partial("_ResultsTable", Model.AppItems)
    }
    if (Model.ShowAppDropdown)
    {
        @Html.LabelFor(m => m.SelectedApp)
        @Html.DropDownListFor(m => m.SelectedApp, Model.AppItems)
    }

    @Html.ShowLabeledTextBox(Model.ShowNameInput, m => m.NameInput);
    @Html.ShowLabeledTextBox(Model.ShowDescriptionInput, m => m.DescriptionInput);
    @Html.ShowLabeledTextBox(Model.ShowMessageBodyInput, m => m.MessageBodyInput);

    if (Model.SuccessMessage != null)
    {
        @Html.DisplayText(Model.SuccessMessage);
    }


    if (Model.ButtonLabel != null)
    {
        <br/>
        <button type="submit" class="btn btn-default">@Model.ButtonLabel</button>
    }
}

@*@Html.Partial("_AppList")

    @Html.Partial("_Team")
    @Html.Partial("_Channels")
    @Html.Partial("_CreateChannel")
    @Html.Partial("_PostMessage")

    @Html.Partial("_Group")
    @Html.Partial("_Member")
    @Html.Partial("_CreateUpdateTeam")


    @Html.Partial("_ResultsPartial")*@

<script>

    function onSuccess(result) {
        $('#Result').html(result);
        $('#Result').show();
    }

</script>
