@using Resources;
@model Microsoft_Teams_Graph_RESTAPIs_Connect.Models.ResultsViewModel


@if (ViewBag.PostMessageLoad != null)
{
    <h3>@Resource.TeamsGraph_PostMessage_Heading</h3>
}
@using (Ajax.BeginForm("PostMessage", "Home", new AjaxOptions {OnComplete="onSuccess", UpdateTargetId="Result" }))
{
    <div class="col-sm-12">
        <div class="form-group">
            @if (ViewBag.PostMessageLoad != null)
            {
                <label for="group-id">@Resource.TeamsGraph_Team_Id_Label</label>
                <input name="group-id" type="text" class="form-control" value="@ViewBag.GroupId" @(ViewBag.UserId == null ? "disabled" : null) />
            }
        </div>
        <div class="form-group">
            @if (ViewBag.PostMessageLoad != null)
            {
                <label for="channel-id">@Resource.TeamsGraph_Channel_Id_Label</label>
                <input name="channel-id" type="text" class="form-control" value="@ViewBag.ChannelId" @(ViewBag.UserId == null ? "disabled" : null) />
            }
        </div>
        <div class="form-group">
            @if (ViewBag.PostMessageLoad != null)
            {
                <label for="message">@Resource.TeamsGraph_PostMessage_Label</label>
                <input name="message" type="text" class="form-control" value="@Resource.TeamsGraph_PostMessage_Text @Resource.App_Name_Short" @(ViewBag.UserId == null ? "disabled" : null) />
            }
        </div>
        <div class="form-group">
            @if (ViewBag.PostMessageLoad != null)
            {
                <button class="btn btn-default @(ViewBag.UserId == null ? "disabled" : null)">@Resource.TeamsGraph_PostMessage_Button</button>
                <input type="hidden" name="user-id" value=@ViewBag.UserId />
            }
        </div>
    </div>
}
<div id="Result">

    @*<p class="@(ViewBag.PostMessage == null ? "hidden" : null)"><h4><b>@Html.Raw(ViewBag.PostMessage)</b></h4></p>*@
</div>
