<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->
@using Resources
@using Microsoft_Teams_Graph_RESTAPIs_Connect.Models;
@using Microsoft_Teams_Graph_RESTAPIs_Connect.Views;
@using System.Linq.Expressions;

@model FormOutput

<h1>@Resource.App_Name</h1>
<h3>Choose operation:</h3>

@if (!GraphAPI.Web.Controllers.HomeController.hasAppId)
{
    <div style="color: red; font-size: 30pt">You need to register this application and provide an app secret, see README.md for details.</div>
}

<div class="col-md-offset-1">
    @Html.ActionLink("Get My Teams", "GetTeamsAction", "Home")<br />
    @Html.ActionLink("Get Channels", "GetChannelsForm", "Home")<br />
    @Html.ActionLink("Get Apps", "GetAppsForm", "Home")<br />

    @Html.ActionLink("Create Channel", "PostChannelsForm", "Home")<br />
    @Html.ActionLink("Post Message", "PostMessageForm", "Home")<br />

    @Html.ActionLink("Create Team and Group", "PostGroupForm", "Home")<br />
    @Html.ActionLink("Add Team to Group", "AddTeamToGroupForm", "Home")<br />

    @Html.ActionLink("Add Member", "AddMemberForm", "Home")<br />
    @Html.ActionLink("Update Team", "UpdateTeamForm", "Home")<br />

</div>
<hr />


@using (Html.BeginForm(Model.Action, "Home"))
{
    @Html.MaybeShowResultsTable(Model.ShowTeamOutput, Model.Teams, t => t.displayName, t => t.id);
    @Html.MaybeShowResultsTable(Model.ShowChannelOutput, Model.Channels, t => t.displayName, t => t.id);

    <table>
        @Html.MaybeShowDropdown(Model.ShowTeamDropdown, Model.Teams, t => t.displayName, t => t.id, m => m.SelectedTeam)
        @Html.MaybeShowDropdown(Model.ShowGroupDropdown, Model.Groups, t => t.displayName, t => t.id, m => m.SelectedGroup)
        @Html.MaybeShowLabeledTextBox(Model.ShowChannelDropdown, m => m.SelectedChannel)

        @*if (Model.ShowChannelDropdown)
            {
                @Html.LabelFor(m => m.SelectedChannel)
                @Html.DropDownListFor(m => m.SelectedChannel, Model.ChannelItems)
                //@Html.TextBoxFor(m => m.SelectedChannel);
            }*@

        @Html.MaybeShowLabeledTextBox(Model.ShowNameInput, m => m.NameInput)
        @Html.MaybeShowLabeledTextBox(Model.ShowDisplayNameInput, m => m.DisplayNameInput)
        @Html.MaybeShowLabeledTextBox(Model.ShowDescriptionInput, m => m.DescriptionInput)
        @Html.MaybeShowLabeledTextBox(Model.ShowMailNicknameInput, m => m.MailNicknameInput)

        @Html.MaybeShowResultsTable(Model.ShowAppOutput, Model.Apps, t => t.name, t => t.id)
        @Html.MaybeShowDropdown(Model.ShowAppDropdown, Model.Apps, t => t.name, t => t.id, m => m.SelectedApp)

        @Html.MaybeShowLabeledTextBox(Model.ShowUpnInput, m => m.UpnInput)

        @Html.MaybeShowLabeledTextBox(Model.ShowMessageBodyInput, m => m.MessageBodyInput)
    </table>

    if (Model.ButtonLabel != null)
    {
                <button type="submit" class="btn btn-default">@Model.ButtonLabel</button>
    }
    if (Model.SuccessMessage != null)
    {
        <div>@Model.SuccessMessage</div>
    }
}

<script>

    function onSuccess(result) {
        $('#Result').html(result);
        $('#Result').show();
    }

</script>
